table, th,td{
    border: 1px wheat;
    background-color: plum;
    border: solid tomato;

}

.frame-champoo{
   margin-left: 500px;
    background-color: purple;
    border: 1px;
    border-style: groove;
    
}